
*{
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Verdana, Arial, sans-serif;
}
html{
    overflow: hidden;
}
body{
    overflow: auto;
}
text {
    font-family: Verdana, Arial, sans-serif;
}

.blink {
    animation: blinker 1.7s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
  }
@keyframes blinker { to { opacity: 0; } }

.unknown {
    background-image: radial-gradient(rgba(128, 128, 128,1), rgba(128, 128, 128, 0.6),transparent);
}
.ok{
    background-image: radial-gradient(rgba(10, 240, 10,1), rgba(10, 240, 10, 0.6),transparent);    
}
.error{
    background-image: radial-gradient(rgba(240, 10, 10,1), rgba(240, 10, 10, 0.6),transparent);
}
#root {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 1em;
}

.infoFrame {
    flex: 1;
    border-collapse: collapse;
    margin: 1em;
    border: 1px solid grey;
}
table, td, th {
    border: 1px solid grey;
}
td, th {
    padding: 0.3em;
}
.updateRunning {
    margin: 1em;
    text-align: center;
}

.rightFrame {
    display: flex;
    flex-direction: column;
    margin: 1em;
}
.statusFrame {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5em;
    border-bottom: 1px solid grey;
    margin-bottom: 0.5em;
}

.buttonFrame {
    display: flex;
    flex-direction: column;
}


button {
    width: 8em;
    margin: 0.3em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 3em;
    border-width: 1px;
    border-radius: 0.2em;
    border-color: #80808047;
}



.currentState, .networkState, .currentAction {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.currentState{
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding-bottom: 1em;
}

#runningAction.stopped {
    visibility: hidden;
}
.actionName {
    display: block;
    margin: 0.3em;
    color: red;
    height: 1.5em;
}
.label {
    display: block;
    margin: 0.3em;
    font-size: 0.8em;
    opacity: 0.6;
}

.statusText{
    margin: 0.3em;
    height: 1em;
}

.statusText[data-status="3"] {
    color:#08080891;
}
.statusText[data-status="2"] {
    color:red;
}
.statusText[data-status="1"] {
    color:green;
}

#networkStatus {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
#networkUpdate {
    margin-left: auto;
    margin-right: auto;
}

.overlayFrame{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    background-color: #00000073;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.overlay {
    display: flex;
    flex-direction: column;
    max-width: 50em;
    width: 90%;
    max-height: 90%;
    background-color: white;
    flex: 1;
}

.overlayContent {
    flex: 1;
    border-bottom: 1px solid grey;
    padding: 0.5em;
    overflow-y: auto;
    overflow-x: hidden;
    word-break: break-all;
    white-space: pre;
}
.overlayButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@media (max-width: 1000px) {
    #root{
        flex-direction: column;
    }
    .buttonFrame, .statusFrame{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .rightFrame{
        align-items: stretch;
        margin: 0;
    }
    .currentAction{
        margin-top: unset;
        border-top: unset;
    }
    .currentAction, .currentState, .networkState {
        margin-left: 1em;
        margin-right: 1em;
    }

    .currentState{
        border-top: unset;
        border-bottom: unset;
        border-left: 1px solid grey;
        border-right: 1px solid grey;
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: unset;
    }

}
